*{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
}

table, th, tr, td{
    border: 1px solid black;
}

tfoot{
    text-align: center;
}

caption{
    caption-side: bottom;
}