body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    max-width: 800px; /* Taille maximale de la largeur de l'article SI l'écran est + grand, fera 800px MAX*/
    width: 70%; /* SI l'écran est plus petit, prendra 70% de la largent du périphérique */
    background-color: salmon;
    box-sizing: border-box;
    margin: 12.5vh auto 0;
    padding: 32px;
}

article>h1{
    text-transform: uppercase;
}

/* De PC à MOBILE : max-width du plus grand au plus petit */
/* De MOBILE à PC : min-width du plus petit au plus grand */

/* Jusqu'à 820px de large, la largeur de l'article est à 600px */
@media (max-width: 820px) {
    article{
        width: 600px;
        font-size: 1.5em;
        margin-top: 12vh;
    }
}

/* Jusqu'à 600px de large, la largeur de l'article prend la largeur totale de l'écran du périphérique */
@media (max-width: 600px) {
    article{
        margin: 0;
        width: 100%;
    }
}